html {
    width: 100%;
    height: 100%;
}
body{
    margin: 0px;
    padding:0px;
    width: 100%;
    height: 100%;
}
header{
    height:5vh;
    min-height: 30px;
    padding-left: 2vw;
    
}
header img:first-child{
    vertical-align: middle;
    height: calc(90%);
    width: calc(0.9*5vh);
    min-width: 27px;
    float:left;
}

header h1:first-child{
    padding-left: 3vw;
    text-align: center;
    vertical-align: top;
}
#bl,header .btns_layout{
    float:right;
    overflow: hidden;
}
header .btns_layout button{
    background-color: #1565C0;
    color:white;
}
nav{
    background-color: #FF5E00;
    height: 50px;
    width:100vw;
}
.demo{
    height:300vh;
}
@media screen and (max-width:767px){
    aside{
        background-color:cyan;
        visibility: hidden;
        display:none;
    }
    nav{
        margin: 0px;
        padding:0px;
        position: fixed;
        width:100vw;
        z-index: 11;
    }
    nav + *{
        padding-top:50px;
    }
    nav ul.menu > li{
        
        text-align: start;
        padding-left:0.5em;
    }
    nav > ul.menu{
        display: block;
        width:90vw;
        list-style: none;
        height:calc(100vh - 50px);
        padding:0px;
       margin:0px;
       background-color:#FF5E00;
       overflow-y:scroll;
      
    }
    ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }
    nav ul.menu li div{
        vertical-align: middle;
        text-align: start;
        margin: auto;
    }
    nav ul.menu li > a,nav > a{
        color:white;
        text-decoration: none;
    
        display: inline-block;
    }
    nav  li > a:hover,nav > a:hover{
        text-decoration: none;
    }
    nav > input[type=checkbox]:checked + div > label[for=mbtn]::before{
        content:"←";
        -webkit-transition: all 1s ease;
        transform: rotate(-180deg);
        -webkit-transform:rotate(-180deg);
        transition: all 1s ease;
    }
    nav > input[type=checkbox] + div > label[for=mbtn]::before{
        content:"≡";
        transform: rotate(180deg);
        -webkit-transform:rotate(180deg);
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
    }
    nav > input[type=checkbox]:checked + div > label[for=mbtn]{
        content:"←";
        -webkit-transition: all 1s ease;
        transform: rotate(-180deg);
        -webkit-transform:rotate(-180deg);
        transition: all 1s ease;
    }
    nav > input[type=checkbox] + div> label[for=mbtn]{
        content:"≡";
        transform: rotate(180deg);
        -webkit-transform:rotate(180deg);
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
    }
    nav > input[type=checkbox]:checked ~  ul.menu{
        display:inherit;
        visibility: inherit;
        
        -webkit-transition: width 1s ease;
        transition: width 1s ease;
    }
    nav > input[type=checkbox] ~  ul.menu{
        display: none;
        visibility: hidden;
        -webkit-transition: width 1s ease;
        transition: width 1s ease;

    }
    
}
@media screen and (min-width:768px){
    aside{
        display:block;
        width:23vw;
        background-color:cyan;
        margin-left:1vw;
        margin-top:1em;
        min-height: 30vh;
        min-width:10em;
        max-width:17em;
        position:fixed;
        overflow: hidden;
        border-radius: 0.3em;

    }
    aside > div:first-child{
        background-color:#FF5E00;
        vertical-align: top;
        color:white;
        text-align: center;
        padding-top:1em;
        min-height:2em;
        border-bottom:gray solid 1px;
    }
   
    nav ul.menu > li{
        display: inline-block;
        height: 100%;
        padding:0px;
        text-align: center;
    }
    nav > ul.menu{
        display: block;
        height:100%;
        list-style: none;
        padding:0px;
        margin:0px;
        text-align: center;
    }
    nav>a>div,nav ul.menu li div{
        vertical-align: middle;
        text-align: center;
        margin: auto;
    }
    nav ul.menu li > a,nav > a{
        color:white;
        text-decoration: none;
    
        display: inline-block;
    }
    nav  li > a:hover,nav > a:hover{
        text-decoration: none;
    }
}/*end media*/
nav .nav-logo{
    padding:0px;
    margin:auto;
    vertical-align: middle;
    color:white;
}
nav .nav-logo img{
    max-height:40px;
    max-width:40px;
    vertical-align: middle;
   margin:auto;
}
nav .nav-logo h1{
    padding:0px;
    margin:auto;
    display: inline-block;
    vertical-align: middle;
}
nav .mobile-menu-btn{
    vertical-align: top;
    margin:0px;
    padding:0px;
    height:50px;
    
}

nav > input[type=checkbox]:first-child{
    display: none;
    visibility: hidden;
}
nav .mobile-menu-btn   label{
    background:none;
    border:none;
    color:white;
    font-size:3em;
    margin:0px;
    padding:0px;
    height:50px;
    padding-left:2vw;
    padding-right:2vw;
    width:50px;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-shadow: black 1.5px 1.5px;
}


nav .mobile-menu-btn label:focus{
    border:none;
}
nav .mobile-menu-btn label:hover{
    background-color: rgba(128,128,128,0);
    border-radius: 0.5em;
    border:none;

}
nav ul.menu > li:hover,nav > a:hover{
    background-color: orange;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}